<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juste Prix - Jeu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .logo-image {
            width: 200px;
            height: auto;
        }
        .product-image {
            max-width: 100px;
            height: auto;
            margin-bottom: 20px;
        }
        #product-price {
            display: none;
        }
    </style>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-narrow">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo du Juste Prix" class="logo-image">
                </a>
            </div>
        </div>

        <!-- Affichage du pseudo -->
        <div class="box has-text-centered">
            <h1 class="title">Bienvenue, {{ pseudo }}</h1>
        </div>

        <!-- Sélection du thème -->
        <div class="box has-text-centered">
            <form action="/jeu" method="get">
                <input type="hidden" name="pseudo" value="{{ pseudo }}">
                <div class="field">
                    <label class="label">Sélectionnez un thème:</label>
                    <div class="control">
                        <div class="select">
                            <select name="theme">
                                <option value="PRODUIT">Général</option>
                                <option value="PRODUIT_TEXTILE">Textile</option>
                                <option value="PRODUIT_MULTIMEDIA">Multimédia</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" type="submit">Changer de thème</button>
            </form>
        </div>

        <!-- Information du produit -->
        <div id="product-info" class="box has-text-centered">
            <!-- Image du produit -->
            <img id="product-image" src="{{ image }}" alt="Image du produit" class="product-image">
            <!-- Titre du produit -->
            <h2 id="product-title" class="title is-4">{{ nom }}</h2>
        </div>

        <!-- Zone de saisie -->
        <div class="field has-addons has-addons-centered mt-5">
            <div class="control">
                <input class="input" type="number" placeholder="Entrez votre prix" min="0">
            </div>
            <div class="control">
                <button class="button is-primary">Valider</button>
            </div>
        </div>
    </div>
</section>
</body>
</html>